*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body{
    background: linear-gradient(to right, #fff,#B40404 );
    background-size: 300% 400%;
    font-size: 20px;}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #350003;
    text-align: center;}

header{
    width: 100%;
    background-color: #8e0000;
    height: 120px;
    padding: 20px;}

.Inicio{
    
    color: #fff;}

.meio {
    font-size: 30px;
    padding: 30px;}

.links{
    font-size: 30px;
    color: #350003;
    cursor: pointer;
    padding: 25px;}

.link1 {
    padding: 10px;}
.link2 {
    padding: 10px;}
.link3 {
    padding: 10px;}

.linksdasredes{
    margin: 15px;}

    @media (max-width: 870px){
        .frase1{
            font-size: 23px;
        }
        .frase2{
            font-size: 20px;
        }
    }
    
    @media (max-width: 365px){
        .frase1{
            font-size: 20px;
        }
        .frase2{
            font-size: 15px;
        }
    }